<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addSupplier</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--Heading Area -->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--View List Button-->
        <div class="col">
            <a href="/supplier" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Form Name-->
        <div class="col">
            <h2 class="text-white text-center">
                <strong>
                    <span data-th-text="${addStatus==true?'Add New Supplier':'Update Supplier Details'}"></span>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--Form Content - start -->
<div class="container-fluid ">
    <div class="col-sm-12 flex-column ">
        <form id="form" class="form-horizontal" data-th-action="${addStatus==true?'/supplier/save':'/supplier/update'}"
              data-th-object="${supplier}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <!--Left Side-->
                <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                    <!--Id-->
                    <div id="idStatus" data-th-if="${addStatus==false}" class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="id" data-th-field="*{id}" class="form-control" type="text" readonly/>
                        </div>
                    </div>
                    <!--Name-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="name">Company Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="name" data-th-field="*{name}" class="form-control" tabindex="3" type="text" required/>
                            <span id="nameError" data-th-errors="*{name}"
                                  data-th-if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                        </div>
                    </div>
                    <!--BRN-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="brn">BRN :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="brn" data-th-field="*{brn}" class="form-control" tabindex="4" type="text" required/>
                            <span id="brnError" data-th-errors="*{brn}"
                                  data-th-if="${#fields.hasErrors('brn')}" class="error">Error Name</span>
                        </div>
                    </div>
                    <!--Contact Number One-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="contactOne">Contact No1 :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="contactOne" data-th-field="*{contactOne}" class="form-control mobile" tabindex="5" type="text" maxlength="10" min="9" required/>
                            <span class="error" data-th-errors="*{contactOne}"
                                  data-th-if="${#fields.hasErrors('contactOne')}" id="mobileOneError">Error Mobile Number</span>
                        </div>
                    </div>
                    <!--Contact Number Two-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="contactTwo">Contact No2 :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="contactTwo" data-th-field="*{contactTwo}" class="form-control mobile" tabindex="6" type="text" maxlength="10" min="9"/>
                            <span class="error" data-th-errors="*{contactTwo}"
                                  data-th-if="${#fields.hasErrors('contactTwo')}" id="mobileTwoError">Error Mobile Number</span>
                        </div>
                    </div>
                </div>
                <!--Right Side-->
                <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                    <!--Email-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="email">Email :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="email" data-th-field="*{email}" class="form-control" tabindex="7" type="email" required/>
                            <span class="error" data-th-errors="*{email}"
                                  data-th-if="${#fields.hasErrors('email')}" id="emailError">Error Email</span>
                        </div>
                    </div>
                    <!--Address-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="address">Address :</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="address" data-th-field="*{address}" class="form-control" tabindex="8" rows="4" style="font-size: medium" required></textarea>
                            <span class="error" data-th-errors="*{address}"
                                  data-th-if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>
                        </div>
                    </div>
                    <!--Created by and created at-->
                    <div id="updateStatus" data-th-if="${addStatus==false}">
                        <!--Created by-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdBy">Created By :</label>
                            </div>
                            <div class="col-md-8">
                                <input id="createdBy" data-th-field="*{createdBy}" class="form-control" type="text" readonly/>
                            </div>
                        </div>
                        <!--Created at-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdAt">Created At :</label>
                            </div>
                            <div class="col-md-8">
                                <input id="createdAt" data-th-field="*{createdAt}" class="form-control" type="text" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <!--Back Button-->
                    <a class="btn btn-dark"  tabindex="11" href="/supplier">
                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                    </a>
                    <!--Save Button-->
                    <button class="btn btn-success ml-5" type="submit" tabindex="9">
                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span id="submit" data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                    </button>
                    <!--Cancel Button-->
                    <button class="btn btn-warning ml-5" type="reset" tabindex="10">
                        <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                    </button>
                </div>
                <!--Error-->
                <div class="form-row">
                    <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '">Errors: </label>
                    <ul>
                        <li id="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}" class="error"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>