<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>supplier-detail</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--heading Area-->
<div class="container-fluid ">
    <div class="row text-center formManagement border-info">
        <!--View List Button-->
        <div class="col">
            <a href="/supplier" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Supplier Name-->
        <div class="col">
            <h2 class="text-light text-center">
                <strong>
                    <p th:text="${supplierDetail.name}"></p>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--details-->
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column" th:fragment="supplierDetailsFragment">
        <div class="row">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <!--id-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="id">ID :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="id" th:text="${supplierDetail.id}" class="display_detail"></p>
                    </div>
                </div>
                <!--Code-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="code">Supplier Code :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="code" th:text="${supplierDetail.code}" class="display_detail"></p></div>
                </div>
                <!--Name-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="name">Company Name :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="name" th:text="${supplierDetail.name}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--BRN-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="brn">BRN :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="brn" th:text="${supplierDetail.brn}" class="display_detail"></p>
                    </div>
                </div>
                <!--Contact One-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="contactOne">Contact No1 :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="contactOne" th:text="${supplierDetail.contactOne}" class="display_detail"></p>
                    </div>
                </div>
                <!--Contact Two-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="contactTwo">Contact No2 :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="contactTwo" th:text="${supplierDetail.contactTwo}" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <!--Email-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="email">Email :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="email" th:text="${supplierDetail.email}" class="display_detail"></p>
                    </div>
                </div>
                <!--Address-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="address">Address :</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <p id="address" class="display_detail " th:utext="${supplierDetail.address}"></p>
                    </div>
                </div>
                <!--Created By-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Created By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdBy" th:text="${supplierDetail.createdBy}" class="display_detail"></p>
                    </div>
                </div>
                <!--Created at-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Created At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt" th:text="${#temporals.format(supplierDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Updated by-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedBy">Updated By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedBy" th:text="${#temporals.format(supplierDetail.updatedAt, 'dd-MM-yyyy HH:mm')}" class="display_detail"></p>
                    </div>
                </div>
                <!--Updated at-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedAt">Updated At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedAt" th:text="${{supplierDetail.updatedAt}}" class="display_detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Back Button-->
    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
        <a href="/supplier">
            <button class="btn btn-dark mb-5" type="button" tabindex="3">
                <i class="fa fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
            </button>
        </a>
    </div>
</div>
<!--heading Area-->
<div class="container-fluid ">
    <div class="row text-center formManagement border-info">
        <!--View List Button-->
        <div class="col">
            <a href="/supplier" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Supplier Name-->
        <div class="col">
            <h2 class="text-light text-center">
                <strong>
                    <p th:text="${supplierDetail.name}"></p>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--details-->
<div  th:replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
