<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>supplier</title>
</head>
<body class="sb-nav-fixed">
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--heading Area-->
            <div class="container-fluid">
                <h1 class="mt-4">Suppliers</h1>
                <div class="row formManagement border-info mb-4 mt-4">
                    <!--New Supplier Button-->
                    <div class="col">
                        <a class="btn btn-outline-success btn-sm" href="/supplier/add" id="button1" tabindex="1">
                            <i class="fa fa-plus" style="font-size: 12px;"></i>&nbsp;&nbsp;Add Supplier</a>&nbsp;
                    </div>
                </div>


                    <!--Suppliers List-->
                    <div class="card mb-4">
                        <!--Table Title-->
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Supplier List
                        </div>
                        <!--Supplier List Table-->
                        <div class="card-body">
                            <div class="table-responsive-md" id="supplierListPresent" data-th-fragment="supplierFragment"
                                 data-th-if="${not #lists.isEmpty(suppliers)}">
                                <table class="table table-bordered" id="myTable">
                                    <thead class="text-center">
                                    <tr>
                                        <th> Index</th>
                                        <th> Code</th>
                                        <th> Company Name</th>
                                        <th> Contact No1</th>
                                        <th> Email</th>
                                        <th> Address</th>
                                        <th> Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="supplier, rowCount : ${suppliers}">
                                        <td data-th-text="${rowCount.count}"></td>
                                        <td data-th-text="${supplier.code}"></td>
                                        <td data-th-text="${supplier.name}"></td>
                                        <td data-th-text="${supplier.contactOne}"></td>
                                        <td data-th-text="${supplier.email}"></td>
                                        <td data-th-text="${supplier.address}"></td>
                                        <td data-th-if="${supplierDetailShow !=true}">
                                            <a class="btn btn-primary btn-sm" data-th-href="${'/supplierItem/edit/' + supplier.id}"><i
                                                    class="fa fa-folder-open" style="font-size: 15px"></i>Edit Item </a>
                                            <a class="btn btn-primary btn-sm" data-th-href="${'/supplierItem/supplier/' + supplier.id}"><i
                                                    class="fa fa-folder-open" style="font-size: 15px"></i>Add Item </a>
                                            <a class="btn btn-primary btn-sm" data-th-href="${'/purchaseOrder/supplier/' + supplier.id}"><i
                                                    class="fa fa-folder-open" style="font-size: 15px"></i>Purchase Order</a>
                                            <a class="btn btn-primary btn-sm" data-th-href="${'/supplier/' + supplier.id}"><i
                                                    class="fa fa-folder-open" style="font-size: 15px"></i>&nbsp;View</a>
                                            <a class="btn btn-success btn-sm" data-th-href="${'/supplier/edit/' + supplier.id}"><i
                                                    class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                                            <a class="btn btn-danger btn-sm" data-th-href="${'/supplier/delete/' + supplier.id}">
                                                <!--data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i
                                                    class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                                        </td>
                                        <td data-th-if="${supplierDetailShow==true}">
                                            <a class="btn btn-primary btn-sm" data-th-href="${supplierDetailShow==true ?'/purchaseOrder/supplier/' + supplier.id :'/supplierItem/supplier/' + supplier.id}"><i
                                                    class="fa fa-thumbs-up" style="font-size: 15px"></i>&nbsp;Select</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Error-->
                        <div class="row" data-th-if="${ #lists.isEmpty(suppliers)}">
                            <div class="col-sm-12">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h3 class="text-center text-danger">
                                        <strong>There is no supplier upto now please add supplier to the system using add user
                                            button.</strong>
                                    </h3>
                                </div>
                            </div>
                            <script>
                                /*active boostrap alert - start*/
                                $(".alert").alert();
                                /*active boostrap alert - end*/
                            </script>
                        </div>
                        <!--TODO-->
                        <!--Save supplier show-->
                    </div>

            </div>
        </main>
        <!--footer include-->
        <div data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>
</body>
</html>
