<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addItem</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!--Heading Area-->
                <div class="row formManagement border-info mb-4 mt-4">
                    <!--ViewList Button-->
                    <div class="col">
                        <a href="/item" class="btn btn-outline-primary btn-sm" tabindex="1">
                            <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View List
                        </a>
                    </div>
                    <!--Form Name-->
                    <div class="col">
                        <h5 class="text text-right">
                            <span th:text="${addStatus==true?'Add New Item':'Update Item Details'}"></span>
                        </h5>
                    </div>
                </div>
                <!--Form Content-->
                <div class="card bg-light mb-4">
                    <div class="my-5">
                    <form id="form" class="form-horizontal" th:action="${addStatus==true?'/item/save':'/item/update'}"
                              th:object="${item}" method="POST" enctype="multipart/form-data">
                                <!--Form content-->
                                <div class="form-group col-md-12 col-sm-12 flex-column ">
                                    <!--Id-->
                                    <div id="idStatus" th:if="${addStatus==false}" class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="id">Item Code :</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input id="id" th:field="*{id}" class="form-control" type="hidden" readonly/>
                                            <input id="id" th:field="*{liveDead}" class="form-control" type="hidden" readonly/>
                                            <input id="id" th:field="*{code}" class="form-control" type="text" readonly/>
                                            <input id="id" th:field="*{itemStatus}" class="form-control" type="hidden" readonly/>
                                        </div>
                                    </div>
                                    <!--Main Category -->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="mainCategory"><small>Main Category :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="mainCategory" class="form-control form-control-sm" tabindex="4" style="font-size: large"
                                                    required>
                                                <option value="" disabled>Please select</option>
                                                <option th:each="mainCategory : ${mainCategories}"
                                                        th:text="${mainCategory.mainCategory}"
                                                        th:value="${mainCategory}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--Sub Category -->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="subCategory"><small>Sub Category :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="subCategory" th:name="${'category'}" class="form-control form-control-sm" tabindex="4"
                                                    style="font-size: large" required>
                                                <option value="" disabled>Please select</option>

                                            </select>
                                        </div>
                                    </div>

                                    <!--Name-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="iName"><small>Name :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <input id="iName" th:field="*{name}" class="form-control form-control-sm" tabindex="6" type="text"
                                                   required/>
                                            <span id="nameError" th:errors="*{name}"
                                                  th:if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                                        </div>
                                    </div>
                                    <!--Color-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="color"><small>Colour :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="color" class="form-control form-control-sm" th:field="*{itemColor}"  tabindex="4" style="font-size: large"
                                                    required>
                                                <option value="" disabled>Please select</option>
                                                <option th:each="itemColor : ${itemColors}"
                                                        th:text="${itemColor.name}"
                                                        th:value="${itemColor.id}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--brand-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="brand"><small>Brand :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="brand" class="form-control form-control-sm" th:field="*{brand}"  tabindex="4" style="font-size: large"
                                                    required>
                                                <option value="" disabled>Please select</option>
                                                <option th:each="brand : ${brands}"
                                                        th:text="${brand.name}"
                                                        th:value="${brand.id}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Warranty Period-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="warrantyPeriod"><small>Warranty Period :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="warrantyPeriod" th:field="*{warrantyPeriod}" class="form-control form-control-sm" tabindex="4" style="font-size: large"
                                                    required>
                                                <option value="" disabled>Please select</option>
                                                <option th:each="warrantyPeriod : ${warrantyPeriod}"
                                                        th:text="${warrantyPeriod.warrantyPeriod}"
                                                        th:value="${warrantyPeriod}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--Sell Price-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="sellPrice"><small>Sell Price :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" data-th-field="*{sellPrice}" id="sellPrice" required tabindex="8"
                                                   type="number" step="0.00"/>
                                            <span class="error"
                                                  data-th-errors="*{sellPrice}" data-th-if="${#fields.hasErrors('sellPrice')}">Error ROP</span>
                                        </div>
                                    </div>
                                    <!--ReOrder Point-->
                                    <div class="form-row text-right">
                                        <div class="col-md-4">
                                            <label class="control-label" for="rop"><small>Reorder Point :</small></label>
                                        </div>
                                        <div class="col-md-4">
                                            <input id="rop" th:field="*{rop}" class="form-control form-control-sm" tabindex="8"
                                                   type="text" required/>
                                            <span id="ropError" th:errors="*{rop}"
                                                  th:if="${#fields.hasErrors('rop')}" class="error">Error ROP</span>
                                        </div>
                                    </div>
                                    <!--Created by and created at-->
                                    <div id="updateStatus" th:if="${addStatus==false}">
                                        <!--hidden url -->
                                        <input type="hidden" th:value="${item.category.mainCategory}"
                                               id="mainCategoryValueBind">
                                        <!--Created by-->
                                        <div class="form-row text-right">
                                            <div class="col-md-4">
                                                <label class="control-label" for="createdBy"><small>Created By :</small></label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="createdBy" th:field="*{createdBy}" class="form-control form-control-sm" type="text"
                                                       readonly/>
                                            </div>
                                        </div>
                                        <!--Created at-->
                                        <div class="form-row text-right">
                                            <div class="col-md-4">
                                                <label class="control-label" for="createdAt"><small>Created At :</small></label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="createdAt" th:field="*{createdAt}" class="form-control form-control-sm" type="text"
                                                       readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--Button-->
                                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                                    <!--Back Button-->
                                    <a class="btn btn-dark" tabindex="14" href="/item">
                                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                                    </a>
                                    <!--Save Button-->
                                    <button class="btn btn-success ml-5" type="submit" tabindex="12">
                                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span id="submit"
                                          th:text="${addStatus==true?'Save': 'Update'}"></span>
                                    </button>
                                    <!--Cancel Button-->
                                    <button class="btn btn-warning ml-5" type="reset" tabindex="13">
                                        <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                                    </button>
                                </div>

                                <!--Error-->
                                <div class="form-row">
                                    <label id="errorLabel" th:if="${#fields.hasErrors('*')}"
                                           th:text="'Errors: '">Errors: </label>
                                    <ul>
                                        <li id="error" th:each="err: ${#fields.errors('*')}" th:text="${err}"
                                            class="error"></li>
                                    </ul>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!--footer include-->
        <footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
        <!--script include-->
        <script data-th-replace="~{fragments/script :: scriptFragment}"></script>
        <script>
            $(document).ready(function () {
                    let mainCategoryValueBind = $("#mainCategoryValueBind").val();
                    if (mainCategoryValueBind !== null || mainCategoryValueBind !== undefined) {
                        $("#mainCategory").val(mainCategoryValueBind);
                        getSubCategory(mainCategoryValueBind);
                    }
                }
            );
            $("#mainCategory").bind("change", function () {
                getSubCategory(this.value);
            });
            let getSubCategory = function (val) {
                let url = "[[${urlMainCategory}]]" + val;
                removeOption('subCategory');
                $.getJSON(url, function (val) {
                    $.each(val, function () {
                        $("#subCategory").append(`<option value="${this.id}">${this.name}</option>`);
                    });
                });

            };
            let removeOption = function (idValue) {
                $(`#${idValue}`).find('option')
                    .remove();
            }


        </script>
    </div>
</div>
</body>
</html>
