<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<a aria-controls="hrefCollapse" aria-expanded="false" class="btn btn-primary col-12" data-toggle="collapse"
   href="#hrefCollapse">Show Purchase Order Detail's - Purchase Order Code :
    <span data-th-text="${purchaseOrderDetail.code}"></span></a>
<div class="collapse" id="hrefCollapse">
    <!--purchase order details-->
    <section data-th-replace="~{purchaseOrder/purchaseOrder-detail :: purchaseOrderDetailsFragment}"></section>
</div>
<div class="container-fluid">
    <form data-th-action="${'/goodReceivedNote/received'}" method="POST" data-th-object="${goodReceivedNote}">
        <div class="container-fluid table-responsive">
            <table class="table table-striped " id="myTable">
                <thead>
                <tr class="text-center">
                    <th>Index</th>
                    <th>Item Name</th>
                    <th>Request Quantity</th>
                    <th>Manufacture Date</th>
                    <th>Expire Date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="purchaseOrderItem, index : ${purchaseOrderDetail.purchaseOrderItems}">
                    <td>
                        <input type="text" class="form-control text-center" data-th-value="${index.count}" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" data-th-value="${purchaseOrderItem.item.name}"
                               readonly>
                        <!--item id-->
                        <input type="text" class="form-control" data-th-name="${'ledgers[__${index.index}__].item.id'}"
                               data-th-value="${purchaseOrderItem.item.id}"
                               hidden>
                    </td>
                    <td>
                        <input type="text" class="form-control text-center"
                               data-th-value="${purchaseOrderItem.quantity}"
                               data-th-name="${'ledgers[__${index.index}__].quantity'}"
                               readonly>
                        <!--sell price-->
                        <input type="text" class="form-control"
                               data-th-name="${'ledgers[__${index.index}__].sellPrice'}"
                               data-th-value="${purchaseOrderItem.item.sellPrice}"
                               hidden>
                    </td>
                    <td>
                        <input type="date" class="form-control " onchange="dateMatch(this)"
                               data-th-name="${'ledgers[__${index.index}__].manufactureDate'}" data-th-id="${'md'+index.count}">
                    </td>
                    <td>
                        <input type="date" class="form-control " onchange="dateMatch(this)"
                               data-th-name="${'ledgers[__${index.index}__].expiredDate'}" data-th-id="${'ed'+index.count}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--remarks-->
        <div class="form-group">
            <label for="remark">Remarks</label>
            <textarea class="form-control" data-th-name="${'remark'}" id="remark" rows="2"></textarea>
        </div>
        <!--total price-->
        <input type="hidden" data-th-name="${'totalAmount'}" data-th-value="${purchaseOrderDetail.price}">
        <!--purchase order-->
        <input type="hidden" data-th-name="${'purchaseOrder.id'}" data-th-value="${purchaseOrderDetail.id}">
        <!--Button-->
        <div class="form-group col-md-12 col-sm-12 mt-4 text-center flex-column ">
            <!--Back Button-->
            <a class="btn btn-dark" href="/goodReceivedNote" tabindex="11">
                <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
            </a>
            <!--Save Button-->
            <button class="btn btn-success ml-5" tabindex="9" type="submit">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;Save
            </button>
            <!--Cancel Button-->
            <button class="btn btn-warning ml-5" tabindex="10" type="reset">
                <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
            </button>
        </div>
    </form>
</div>

<!--/* footer is */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script is included */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

<script>
    function dateMatch(obj) {
        let selectedFiledId = obj.getAttribute('id').slice(2);
        let manufactureDate = $(`#md${selectedFiledId}`).val();
        let expiredDate = $(`#ed${selectedFiledId}`).val();

        if (manufactureDate !=="" && expiredDate !=="") {
            if (Date.parse(manufactureDate) > Date.parse(expiredDate)) {
                swal({
                    title: "Could you accept those days.. !",
                    icon: "warning",
                    text: "Please check your date \n Expire Date can not be less than Manufacture Date",
                })
                $(`#ed${selectedFiledId}`).val($(`#md${selectedFiledId}`).val());
            }
        }
    }


</script>

</body>
</html>