<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="sb-nav-fixed">
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4 my-4">
                    <div class="container-fluid my-4">
                        <a aria-controls="hrefCollapse" aria-expanded="false" class="btn btn-primary col-6" data-toggle="collapse"
                   href="#hrefCollapse">Show Purchase Order Detail's - Purchase Order Code :
                    <span data-th-text="${purchaseOrderDetail.code}"></span></a>
                    </div>
                    <div class="collapse" id="hrefCollapse">
                        <!--purchase order details-->
                        <section data-th-replace="~{purchaseOrder/purchaseOrder-detail :: purchaseOrderDetailsFragment}"></section>
                    </div>
                    <!--GRN Table-->
                    <div class="card-body">
                        <form data-th-action="${'/goodReceivedNote/received'}" method="POST" data-th-object="${goodReceivedNote}">
                            <div class="table-responsive-md">
                                <table class="table table-striped" id="myTable">
                                    <thead>
                                    <tr class="text-center">
                                        <th>Index</th>
                                        <th>Item Name</th>
                                        <th>Request Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="purchaseOrderItem, index : ${purchaseOrderDetail.purchaseOrderItems}">
                                        <td>
                                            <input type="text" class="form-control text-center" data-th-value="${index.count}" readonly>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" data-th-value="${purchaseOrderItem.item.name}"
                                                   readonly>
                                            <!--item id-->
                                            <input type="text" class="form-control" data-th-name="${'ledgers[__${index.index}__].item.id'}"
                                                   data-th-value="${purchaseOrderItem.item.id}"
                                                   hidden>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-center"
                                                   data-th-value="${purchaseOrderItem.quantity}"
                                                   data-th-name="${'ledgers[__${index.index}__].quantity'}"
                                                   readonly>
                                            <!--sell price-->
                                            <input type="text" class="form-control"
                                                   data-th-name="${'ledgers[__${index.index}__].sellPrice'}"
                                                   data-th-value="${purchaseOrderItem.item.sellPrice}"
                                                   hidden>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--remarks-->
                            <div class="form-group">
                                <label for="remark">Remarks</label>
                                <textarea class="form-control" data-th-name="${'remark'}" id="remark" rows="2"></textarea>
                            </div>
                            <!--total price-->
                            <input type="hidden" data-th-name="${'totalAmount'}" data-th-value="${purchaseOrderDetail.price}">
                            <!--purchase order-->
                            <input type="hidden" data-th-name="${'purchaseOrder.id'}" data-th-value="${purchaseOrderDetail.id}">
                            <!--Button-->
                            <div class="form-group col-md-12 col-sm-12 mt-4 text-center flex-column ">
                                <!--Back Button-->
                                <a class="btn btn-dark" href="/goodReceivedNote" tabindex="11">
                                    <i class="fas fa-arrow-circle-left" style="font-size: 15px"></i>&nbsp;&nbsp;Back
                                </a>
                                <!--Save Button-->
                                <button class="btn btn-success" tabindex="9" type="submit">
                                    <i class="fa fa-save " style="font-size: 15px"></i>&nbsp;&nbsp;Save
                                </button>
                                <!--Cancel Button-->
                                <button class="btn btn-warning" tabindex="10" type="reset">
                                    <i class="far fa-times-circle" style="font-size: 15px"></i>&nbsp;&nbsp;Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!--/* footer is */-->
        <footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
        <!--/* script is included */-->
        <script data-th-replace="~{fragments/script :: scriptFragment}"></script>

    </div>
</div>
</body>
</html>
