<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>J N Super </title>
</head>
<body class="sb-nav-fixed">
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-4 mb-4">Good Receiving Note Management</h2>
                <!--Table view-->
                <div class="card mb-4">
                    <!--Table Title-->
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Pending Purchase Order List
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-md" id="purchaseRequestListPresent" data-th-if="${not #lists.isEmpty(notCompleteAll)}">
                            <table class="table table-hover table-bordered" id="myTable">
                                <thead>
                                <tr>
                                    <th> Index</th>
                                    <th> Code</th>
                                    <th> Supplier</th>
                                    <th> Priority</th>
                                    <th> Amount</th>
                                    <th> Created Date</th>
                                    <th> Modify</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="purchaseOrder, rowCount : ${notCompleteAll}">
                                    <th data-th-text="${rowCount.count}"></th>
                                    <th data-th-text="${purchaseOrder.code}"></th>
                                    <th data-th-text="${purchaseOrder.supplier.name}"></th>
                                    <th data-th-text="${purchaseOrder.purchaseOrderPriority.purchaseOrderPriority}"></th>
                                    <th data-th-text="${purchaseOrder.price}"></th>
                                    <th data-th-text="${{purchaseOrder.createdAt}}"></th>
                                    <th>
                                        <a  data-th-href="${'/purchaseOrder/' + purchaseOrder.id}"
                                            class="btn btn-outline-primary btn-sm"><i class="fa fa-folder-open" style="font-size: 15px"></i>&nbsp;View</a>
                                        <a  data-th-href="${'/goodReceivedNote/' + purchaseOrder.id}" class="btn btn-outline-success btn-sm"><i
                                                class="fa fa-edit" style="font-size: 15px"></i>&nbsp; Confirm </a>
                                        <a  data-th-href="${'/purchaseOrder/delete/' + purchaseOrder.id}" class="btn btn-outline-danger btn-sm">
                                            <!--data-th-if="${#authorization.expurchaseOrderession('hasRole(''ROLE_ADMIN'')')}"--><i
                                                class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Error-->
                        <div class="row" data-th-if="${ #lists.isEmpty(notCompleteAll)}">
                            <div class="col align-self-center mx-4">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    There is no pending purchase order upto now. Please make a purchase order.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <script>
                                /*active boostrap alert - start*/
                                $(".alert").alert();
                                /*active boostrap alert - end*/
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <div data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <div data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>
</body>
</html>
