<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >item</title >
</head >
<body >
<nav th:replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--heading Area-->
<div class="container-fluid " >
  <div class="row text-center formManagement border-info" >
    <!-- New Item Button-->
    <div class="col" >
      <a class="btn btn-success" href="/supplier" tabindex="1" ><i class="fas fa-plus" style="font-size: 20px" ></i >&nbsp;&nbsp;Supplier
                                                                                                                     Lis</a >&nbsp;
    </div >
    <!-- List Name-->
    <div class="col" >
      <h2 class="text-white text-center" >
        <strong >
          <span data-th-text="${title}" ></span >
        </strong >
      </h2 >
    </div >
    <!-- Home Button-->
    <div class="col" >
      <a href="/home" id="searchShow" class="btn btn-primary" tabindex="2" >
        <!--<i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;-->
        <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
        &nbsp;
      </a >
    </div >
  </div >
</div >

<div class="container-fluid bg-info formBorder text-center" >

  <div class="row" >
    <div class="col-3" >
      <a href="/ledger/reorderPoint" >
        <button class="btn btn-primary" >Re Order Point Achieved</button >
      </a >
    </div >
    <form action="/ledger/expiredDate" method="post" >
      <div class="col-3" >
        <label class="control-label" > Since :
          <input type="date" class="form-control" name="startDate" id="startDate" required >
        </label >
      </div >
      <div class="col-3" >
        <label class="control-label" > To :
          <input type="date" class="form-control" name="endDate" id="endDate" required >
        </label >
      </div >
      <div class="col-3" >
        <button type="submit" class="btn btn-success" > Send</button >
      </div >
    </form >
  </div >
</div >
<div class="container-fluid bg-info formBorder text-center" >
  <!--Table view-->
  <div class="col" th:if="${not #lists.isEmpty(ledgers)}" >
    <div class="col" id="itemListPresent" >
      <table class="table table-hover table-striped" id="myTable" >
        <thead >
        <tr >
          <th > Index</th >
          <th > Item Name</th >
          <th > ROP</th >
          <th > Quantity</th >
          <th > Price</th >
          <th > M Date</th >
          <th > E Date</th >
          <th > Modify</th >
        </tr >
        </thead >
        <tbody >
        <tr th:each="ledger, rowCount : ${ledgers}" >
          <th th:text="${rowCount.count}" ></th >
          <th th:text="${ledger.item.name}" ></th >
          <th th:text="${ledger.item.rop}" ></th >
          <th th:text="${ledger.quantity}" ></th >
          <th th:text="${ledger.sellPrice}" ></th >
          <th th:text="${ledger.manufactureDate}" ></th >
          <th th:text="${ledger.expiredDate}" ></th >
          <th >
            <a th:href="${'/purchaseOrder/supplier/' + ledger.goodReceivedNote.purchaseOrder.supplier.id}"
               class="btn btn-primary btn-sm" ><i
                  class="fa fa-folder-open" style="font-size: 15px" ></i >Purchase Order</a >
          </th >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
  <!--Error-->
  <div class="row" th:if="${ #lists.isEmpty(ledgers)}" >
    <div class="col-sm-12" >
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
        <h3 class="text-center text-danger" >
          <strong >There is no item upto now please add item to the system using "New" button.</strong >
        </h3 >
      </div >
    </div >
  </div >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<script >
    $("#startDate, #endDate").bind('keyup',
        function () {
            let manufactureDate = $(`#startDate`).val();
            let expiredDate = $(`#endDate`).val();

            if (manufactureDate !== "" && expiredDate !== "") {
                if (Date.parse(manufactureDate) > Date.parse(expiredDate)) {
                    swal({
                        title: "Could you accept those days.. !",
                        icon: "warning",
                        text: "Please check your date \n Expire Date can not be less than Manufacture Date",
                    })
                    $(`#endDate`).val($(`#startDate`).val());
                }
            }
        });

    $(".alert").alert();
</script >
</body >
</html >
