<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addBrand</title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--Heading Area-->
            <div class="container-fluid">
                <div class="row formManagement border-info mb-4 mt-4">
                    <!--ViewList Button-->
                    <div class="col">
                        <a href="/brand" class="btn btn-outline-primary btn-sm" tabindex="1">
                            <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View List
                        </a>
                    </div>
                    <!--Form Name-->
                    <div class="col">
                        <h5 class="text text-right">
                            <span  data-th-text="${addStatus==true?'Add New Brand':'Update Brand Details'}"></span>
                        </h5>
                    </div>
                    <!--Home Button
                    <div class="col">
                        <a class="btn btn-primary" href="/home" tabindex="2">
                            <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
                        </a>
                    </div>-->
                </div>
            </div>

            <!--New Form-->
            <div class="container-fluid formBorder">
                <form class="mb-4" id="form"  data-th-action="${addStatus==true?'/brand/save':'/brand/update'}"
                       data-th-object="${brand}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <!--Name-->
                        <div class="form-group col-sm-4">
                            <label for="name">Name :</label>
                            <input type="text" class="form-control" placeholder="Brand name" id="name"  data-th-field="*{name}" tabindex="4" required/>
                            <span id="nameError" th:errors="*{name}" th:if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                        </div>

                        <!--ID-->
                        <div class="form-group col-sm-4" id="idStatus"  data-th-if="${addStatus==false}">
                            <label for="id">ID :</label>
                            <input type="text" class="form-control" id="id"  data-th-field="*{id}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-4" id="updateStatus"  data-th-if="${addStatus==false}">
                        <!--Created By-->
                        <div class="form-group col-sm-4">
                            <label for="createdBy">Created By :</label>
                            <input type="text" class="form-control" id="createdBy"  data-th-field="*{createdBy}" readonly/>
                        </div>
                        <!--Created At-->
                        <div class="form-group col-sm-4">
                            <label for="createdAt">Created At :</label>
                            <input type="text" class="form-control" id="createdAt"  data-th-field="*{createdAt}" readonly/>
                        </div>
                    </div>
                    <!--Button-->
                    <div class="form-group">
                        <!--Back Button-->
                        <a class="btn btn-outline-secondary"  tabindex="8" href="/brand">
                            <i class="fas fa-arrow-circle-left" style="font-size: 15px"></i>&nbsp;&nbsp;Back
                        </a>
                        <!--Save Button-->
                        <button class="btn btn-outline-success" type="submit" tabindex="9">
                            <i class="fa fa-save" style="font-size: 15px"></i>&nbsp;&nbsp;<span id="submit"  data-th-text="${addStatus==true?'save': 'update'}"></span>
                        </button>
                        <!--Cancel Button-->
                        <button class="btn btn-outline-warning" type="reset" tabindex="10">
                            <i class="far fa-times-circle" style="font-size: 15px"></i>&nbsp;&nbsp;Cancel
                        </button>
                    </div>
                    <!--Error-->
                    <div class="form-row">
                        <label id="errorLabel"  data-th-if="${#fields.hasErrors('*')}"   data-th-text="'Errors: '">Errors: </label>
                        <ul>
                            <li id="error"   data-th-each="err: ${#fields.errors('*')}"  data-th-text="${err}" class="error"></li>
                        </ul>
                    </div>
                </form>
            </div>
        </main>
        <!--footer include-->
        <div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div  data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>

</body>
</html>
