<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/styles.css">
<body>


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"  data-th-fragment="navBarFragment">
    <a class="navbar-brand mr-n5" href="/home">Crystal Telecom</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-itemBatch dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"> <i class="fa fa-user"></i> General</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' ,'ROLE_ADMIN')"  data-th-href="@{'/employee'}" class="nav-link text-dark"> Employee Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' , 'ROLE_ADMIN')"  data-th-href="@{'/user'}" class="nav-link text-dark"> User Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' , 'ROLE_ADMIN')"  data-th-href="@{'/role'}" class="nav-link text-dark"> Role Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')"  data-th-href="@{'/category'}" class="nav-link text-dark"> Category Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' ,'ROLE_CASHIER')"  data-th-href="@{'/item'}" class="nav-link text-dark"> Item Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')"  data-th-href="@{'/supplier'}" class="nav-link text-dark"> Supplier Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')"  data-th-href="@{'/purchaseOrder'}" class="nav-link text-dark"> Purchase Order Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')"  data-th-href="@{'/goodReceivedNote'}" class="nav-link text-dark"> GRN Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ACCOUNT_MANAGER')"  data-th-href="@{'/payment'}" class="nav-link text-dark"> Payment Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' ,'ROLE_ACCOUNT_MANAGER' , 'ROLE_CASHIER')"  data-th-href="@{'/invoice'}" class="nav-link text-dark"> Invoice Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' , 'ROLE_CASHIER')"  data-th-href="@{'/ledger'}" class="nav-link text-dark"> Ledger Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')"  data-th-href="@{'/discountRatio'}" class="nav-link text-dark"> Discount Management </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_CASHIER')"  data-th-href="@{'/customer'}" class="nav-link text-dark"> Customer Management </a>
                </div>
            </li>

            <li class="nav-itemBatch dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"> <i class="fa fa-bell"></i> Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' ,'ROLE_ADMIN')" data-th-href="@{'/employee/add'}" class="nav-link text-dark"> New Employee </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' , 'ROLE_ADMIN')" data-th-href="@{'/user/add'}" class="nav-link text-dark"> New User </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' , 'ROLE_ADMIN')" data-th-href="@{'/role/add'}" class="nav-link text-dark"> New Role </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')" data-th-href="@{'/category/add'}" class="nav-link text-dark"> New Category </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' ,'ROLE_CASHIER')"  data-th-href="@{'/item/add'}" class="nav-link text-dark"> New Item </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')" data-th-href="@{'/supplier/add'}" class="nav-link text-dark"> New Supplier </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ACCOUNT_MANAGER','ROLE_CASHIER')" data-th-href="@{'/invoice/add'}" class="nav-link text-dark"> New Invoice </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')" data-th-href="@{'/discountRatio/add'}" class="nav-link text-dark"> New Discount </a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_CASHIER')" data-th-href="@{'/customer/add'}" class="nav-link text-dark"> New Customer </a>
                </div>
            </li>

            <li class="nav-itemBatch dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"> <i class="fa fa-book-open"></i> Report</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')" data-th-href="@{'/report/manager'}" class="nav-link text-dark"> Manager Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' , 'ROLE_CASHIER')" data-th-href="@{'/ledger'}" class="nav-link text-dark"> All Items Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_CASHIER')" data-th-href="@{'/report/cashier'}" class="nav-link text-dark"> Cashier Daily Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' )" data-th-href="@{'/report/payment'}" class="nav-link text-dark"> Payment Daily Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' )" data-th-href="@{'/report/perCashier'}" class="nav-link text-dark"> Per Cashier Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' )" data-th-href="@{'/report/perAccount'}" class="nav-link text-dark"> Per Account Department User Report</a>
                    <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER' )" data-th-href="@{'/report/perItem'}" class="nav-link text-dark"> Per Item Report</a>
                </div>
            </li>
        </ul>
    </div>
    <!--login /logout /profile /password-change link according to sec confi-->
    <div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
            <li class="nav-item dropdown" data-sec-authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-tie fa-lg"></i>&nbsp;&nbsp;
                    <span data-th-text="${#authentication.name}"></span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item dropdown-item btn btn-group-sm" data-th-href="${'/profile'}">
                        <i class="fas fa-user-cog"></i> &nbsp;Profile
                    </a>
                    <a class="dropdown-item dropdown-item btn btn-group-sm" data-th-href="${'/passwordChange'}">
                        <i class="fas fa-key "></i>&nbsp;Change Password</a>
                </div>
            </li>
            <li class="nav-item dropdown " data-sec-authorize="isAuthenticated()">
                <a href="/logout" class="nav-link"> <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Log
                                                                                       out</a>
            </li>
            <li class="nav-item dropdown " data-sec-authorize="!isAuthenticated()">
                <a href="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>

