<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
</head >
<body class="sb-nav-fixed">
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div id="layoutSidenav">
  <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}"></div>
  <div id="layoutSidenav_content">
      <main>
        <!--Heading Area-->
        <div class="container-fluid">
            <div class="row formManagement border-info mb-4 mt-4" >
              <!--ViewList Button-->
              <div class="col">
                <a href="/employee" class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View Employees
                </a>
              </div>
              <!--Form Name-->
              <div class="col" >
                <h5 class="text text-right" >
                  <span data-th-text="${addStatus==true?'New Employee':'Update Employee Details'}" ></span >
                </h5 >
              </div >
            </div >
        </div>

        <!--Form Content - start -->
        <div class="container-fluid">
          <div class="card mb-4">
            <!--Table Title-->
            <div class="card-header">
              <i class="fas fa-table mr-1"></i>
              Employee Registration Form
            </div>
            <!--Table view-->
            <div class="card-body bg-light">
              <form id="form" class="form-horizontal" data-th-action="${addStatus==true?'/employee/save':'/employee/update'}" data-th-object="${employee}" method="POST" enctype="multipart/form-data" >
                <div class="form-row mb-1" >
                  <!--Id-->
                  <div id="idStatus" data-th-if="${addStatus==false}" class="col-md-3" >
                    <label for="id"><small>ID</small></label>
                    <input id="id" data-th-field="*{id}" class="form-control form-control-sm" type="text" readonly />
                    <input type="text" data-th-field="*{liveDead}" hidden>
                  </div >
                  <!--Payrole number-->
                  <div data-th-if="${addStatus==false}" class="col-md-3">
                    <label for="code"><small>Employee Code</small></label>
                    <input id="code" data-th-field="*{code}" class="form-control form-control-sm" tabindex="4"
                           type="text" required />
                    <span id="codeE" data-th-errors="*{code}" data-th-if="${#fields.hasErrors('code')}" class="error" >Error Employee code </span >
                   </div >
                  <!--Created by-->
                  <div id="updateStatus" data-th-if="${addStatus==false}" class="col-md-3">
                    <label for="createdBy"><small>Created By</small></label>
                    <input id="createdBy" data-th-field="*{createdBy}" class="form-control form-control-sm" type="text" readonly/>
                  </div >
                  <!--Created at-->
                  <div id="updateStatus" data-th-if="${addStatus==false}" class="col-md-3">
                    <label for="createdAt"><small>Created At</small></label>
                    <input id="createdAt" data-th-text="${{createdAt}}" class="form-control form-control-sm" type="text" readonly/>
                  </div >
                </div >
                <div class="form-row mb-1">
                  <!--Tittle -->
                  <div class="col-md-2" >
                    <label for="title"><small>Title</small></label>
                    <select id="title" data-th-field="*{title}" class="form-control form-control-sm" tabindex="3" required >
                      <option value="" >Please select</option >
                      <option data-th-each="titles : ${title}"
                              data-th-text="${titles.title}"
                              data-th-value="${titles}"
                              data-th-selected="${titles==employee.title?'selected':'unselected'}" ></option >
                    </select >
                  </div >
                  <!--Name-->
                  <div class="col-md-7" >
                    <label for="name"><small>Name</small></label>
                    <input id="name" data-th-field="*{name}" class="form-control form-control-sm" tabindex="4" type="text" required />
                    <span id="nameError" data-th-errors="*{name}"
                          data-th-if="${#fields.hasErrors('name')}" class="error" >Error Name</span >
                  </div >
                  <!--Prefered Name-->
                  <div class="col-md-3" >
                    <label for="callingName"><small>Prefered Name</small></label>
                    <input id="callingName" data-th-field="*{callingName}" class="form-control form-control-sm" tabindex="5"
                           type="text" minlength="5" />
                    <span class="error" data-th-errors="*{callingName}"
                          data-th-if="${#fields.hasErrors('callingName')}" id="callingNameError" >Error Calling Name</span >
                  </div >
                </div>
                <div class="form-row mb-1">
                  <!--Civil status-->
                  <div class="col-md-2" >
                    <label for="civilStatus"><small>Civil State</small></label>
                    <select data-th-field="*{civilStatus}" id="civilStatus" class="form-control form-control-sm" tabindex="11"
                            required >
                      <option value="" >Please select</option >
                      <option data-th-each="civilStatu : ${civilStatus}"
                              data-th-text="${civilStatu.CivilStatus}"
                              data-th-value="${civilStatu}"
                              data-th-selected="${civilStatu==employee.civilStatus?'selected':'unselected'}" ></option >
                    </select >
                  </div >
                  <!--Nic-->
                  <div class="col-md-2" >
                    <label for="nic"><small>NIC No</small></label>
                    <input id="nic" data-th-field="*{nic}" class="form-control form-control-sm" tabindex="6" type="text"
                           maxlength="12"
                           minlength="10" required />
                    <span class="error" id="nicError" data-th-errors="*{nic}"
                          data-th-if="${#fields.hasErrors('nic')}" >Error NIC Number</span >
                  </div >
                  <!--Date of birth-->
                  <div class="col-md-2 mr-4" >
                    <label for="dateOfBirth"><small>Birth date</small></label>
                    <input id="dateOfBirth" data-th-field="*{dateOfBirth}" class="form-control form-control-sm" tabindex="8"
                           placeholder="Ex: 1990 - 01 - 20"
                           required type="date" />
                    <span id="dateOfBirthError" data-th-errors="*{dateOfBirth}"
                          data-th-if="${#fields.hasErrors('dateOfBirth')}" class="error" >Error Birthday</span >
                  </div >
                  <!--Gender-->
                  <div class="form-row" >
                    <div class="col-md-4 mr-4" >
                      <label class="control-label" for="gender" ><small>Gender :</small></label >
                    </div >
                    <div class="col-md-8" >
                      <div class="custom-control custom-checkbox custom-control-inline" data-th-each="genders,index : ${gender}">
                        <input id="gender" class="custom-control-input gender" required
                               data-th-name="${'gender'}"
                               data-th-value="${genders}"
                               data-th-id="${index.index}+${genders}" type="radio"
                               data-th-checked="${genders==gender}"/>
                        <label class="custom-control-label"
                               data-th-for="${index.index}+${genders}"
                               data-th-text="${genders.gender}"> radio
                        </label>
                      </div>
                    </div >
                  </div >

                </div>
                <div class="form-row mb-1">
                  <!--Address-->
                  <div class="col-md-12">
                    <label for="address"><small>Address</small></label>
                    <textarea id="address" data-th-field="*{address}" class="form-control" tabindex="12" required ></textarea >
                    <span class="error" data-th-errors="*{address}" data-th-if="${#fields.hasErrors('address')}" id="addressError" >Error Address</span >
                  </div >
                </div >
                <div class="form-row mb-1">
                  <!--Blood group-->
                  <!--<div class="form-row text-right">
                      <div class="col-md-4">
                          <label class="control-label" for="bloodGroup">Blood Group :</label>
                      </div>
                      <div class="col-md-8">
                          <select id="bloodGroup" data-th-field="*{bloodGroup}" class="form-control" tabindex="9" required>
                              <option value="">Please select</option>
                              <option data-th-each="bloodGroups : ${bloodGroup}"
                                      data-th-text="${bloodGroups.bloodGroup}"
                                      data-th-value="${bloodGroups}"
                                      data-th-selected="${bloodGroups==employee.bloodGroup?'selected':'unselected'}">Please select</option>
                          </select>
                      </div>
                  </div>-->
                </div>
                <div class="form-row mb-1">
                  <!--Mobile Number One-->
                  <div class="col-md-2">
                    <label for="mobileOne"><small>Mobile [1]</small></label>
                    <input id="mobileOne" data-th-field="*{mobileOne}" class="form-control form-control-sm mobile" tabindex="13"
                           pattern="([0][7][\d]{8}$)|^([7][\d]{8})" title="Incorrect mobile number"
                           maxlength="10" min="9"
                           type="text"
                           required />
                    <span class="error" data-th-errors="*{mobileOne}"
                          data-th-if="${#fields.hasErrors('mobileOne')}"
                          id="mobileOneError" >Error Mobile Number</span >

                  </div>
                  <!--Mobile Number Two-->
                  <div class="col-md-2">
                    <label for="mobileTwo"><small>Mobile [2]</small></label>
                    <input id="mobileTwo" data-th-field="*{mobileTwo}" class="form-control form-control-sm mobile" tabindex="14"
                           pattern="([0][7][\d]{8}$)|^([7][\d]{8})" title="Incorrect mobile number"
                           maxlength="10" min="9"
                           type="text"
                           />
                    <span class="error" data-th-errors="*{mobileTwo}"
                            data-th-if="${#fields.hasErrors('mobileTwo')}"
                            id="mobileTwoError" >Error Mobile Number</span >
                  </div >
                  <!--Land Number-->
                  <div class="col-md-2">
                    <label for="land"><small>Land No</small></label>
                    <input id="land" data-th-field="*{land}" class="form-control form-control-sm land" type="text" tabindex="15"
                           maxlength="10"
                           min="9" />
                    <span class="error" data-th-errors="*{land}"
                          data-th-if="${#fields.hasErrors('land')}" id="landError" >Error Land Number</span >
                  </div >

                  <!--Office email-->
                  <div class="col-md-6">
                    <label for="officeEmail"><small>Email</small></label>
                    <input id="officeEmail" data-th-field="*{officeEmail}" class="form-control form-control-sm" tabindex="17"
                           type="email" required />
                    <span class="error" data-th-errors="*{officeEmail}"
                          data-th-if="${#fields.hasErrors('officeEmail')}"
                          id="officeEmailError" >Error Office Email</span >
                  </div >


                 </div>
                <div class="form-row mb-1">
                  <!--Designation-->
                  <div class="col-md-4" >
                    <label for="designation"><small>Designation</small></label>
                    <select id="designation" data-th-field="*{designation}" class="form-control form-control-sm" tabindex="10"
                            required >
                      <option value="" >Please select</option >
                      <option data-th-each="designations : ${designation}"
                              data-th-text="${designations.designation}"
                              data-th-value="${designations}"
                              data-th-selected="${designations==employee.designation?'selected':'unselected'}" ></option >
                    </select >
                  </div >
                  <!--Date of assignment-->
                  <div class="col-md-3" >
                    <label for="dateOfAssignment"><small>Date Of Join</small></label>
                    <input id="dateOfAssignment" data-th-field="*{{dateOfAssignment}}" type="date"
                           class="form-control form-control-sm" tabindex="18"
                           placeholder="Ex: 1990 - 01 - 20" required />
                    <span class="error" data-th-errors="*{dateOfAssignment}"
                          data-th-if="${#fields.hasErrors('dateOfAssignment')}" id="dateOfAssignmentError" >Error Date Of Assignment</span >
                  </div >
                  <!--Employee status-->
                  <div class="col-md-5" >
                    <label for="employeeStatus"><small>Employee Status</small></label>
                    <select id="employeeStatus" data-th-field="*{employeeStatus}" class="form-control form-control-sm" tabindex="19"
                            required >
                      <option value="" >Please select</option >
                      <option data-th-each="employeeStatuss : ${employeeStatus}"
                              data-th-text="${employeeStatuss.employeeStatus}"
                              data-th-value="${employeeStatuss}"
                              data-th-selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}" ></option >
                    </select >
                  </div >
                </div>

                <!--Image-->
                <div class="form-row mb-2">
                    <div class="col-md-3 mr-5" >
                      <label class="control-label"><small>Image</small></label >
                      <input type="file" name="file" id="imgUpload"
                             accept="image/png, image/jpeg" />
                    </div >
                </div>
                <div>
                    <div class="col-md-3" ></div >
                    <div class="col-md-3">
                      <!--photo details-->
                      <img class="img-fluid ml-5" data-th-if="${addStatus==false && file!=null}" data-th-src="${file.url}"
                           id="image" alt=""
                           style="height: 100px; width: 100%;" >
                      <img class="img-fluid ml-5" data-th-if="${addStatus==true}" src="" id="image" alt=""
                           style="height: 100px; width: 100%" >
                    </div >

                </div >
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
                  <!--Button-->
                  <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
                    <button class="btn btn-success btn-sm" type="submit" tabindex="21" >
                      <i class="fa fa-save " style="font-size: 15px" ></i >&nbsp; &nbsp;<span id="submit"
                                                                                              data-th-text="${addStatus==true?'Save': 'Update'}" ></span >
                    </button >
                    <button class="btn btn-warning btn-sm" type="reset" >
                      <i class="fa fa-redo" ></i > <span id="reset" >Reset</span >
                    </button >
                  </div >
                </div >
                <div class="form-row" >
                  <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >Errors: </label >
                  <ul >
                    <li id="error" data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}" class="error" ></li >
                  </ul >
                </div >

            </form >
            </div>
          </div>
        </div >

      </main>
      <!--footer include-->
      <div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
      <!--script include-->
      <div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
    <script >
      $(document).ready(function () {
        imageSrcAttributeCheck();

        $('[type="date"]').prop('max', function () {
          return new Date().toJSON().split('T')[0];
        });

      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          let reader = new FileReader();

          reader.onload = function (e) {
            $('#image').attr('src', e.target.result);
          }

          if (input.files[0].size < 10485760) {
            reader.readAsDataURL(input.files[0]);
          } else {
            swal({
              title: "Select file size was too large select less than 10MB file",
              icon: "warning",
            });
          }
        }
      }

      //display selected image
      $("#imgUpload").change(function () {
        $("#image").toggle('show');
        readURL(this);

      });

      //image is not -> showing area hide
      function imageSrcAttributeCheck() {
        let attribute = $("#image").attr("src");
        if (attribute === '') {
          $("#image").toggle('hide');
        }
      }

    </script >
  </div>
</div>
</body >
</html >
