<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>branch-detail</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--ViewList Button-->
        <div class="col">
            <a href="/branch" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Branch Name-->
        <div class="col">
            <h2 class="text-light text-center">
                <strong>
                    <p th:text="${branchDetail.name}"></p>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--details-->
<div th:fragment="branchDetailsFragment" class="container-fluid ">
    <div class="col-sm-12 flex-column ">
        <div class="row">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <!--id-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="id">ID :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="id" th:text="${branchDetail.id}" class="display_detail"></p>
                    </div>
                </div>
                <!--Name-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="name">Name :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="name" th:text="${branchDetail.name}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Land-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="land">Land No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="land" th:text="${branchDetail.land}" class="display_detail"></p>
                    </div>
                </div>
                <!--Address-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="address">Address :</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <p id="address" class="display_detail " th:utext="${branchDetail.address}"></p>
                    </div>
                </div>
                <!--Email-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="email">Email :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="email" th:text="${branchDetail.email}" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <!--Created By-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Created By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdBy" th:text="${branchDetail.createdBy}" class="display_detail"></p>
                    </div>
                </div>
                <!--Created at-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Created At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt" th:text="${#temporals.format(branchDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                           class="display_detail"></p>
                    </div>
                </div>
                <!--Updated by-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedBy">Updated By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedBy" th:text="${branchDetail.updatedBy}" class="display_detail"></p>
                    </div>
                </div>
                <!--Updated at-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedAt">Updated At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedAt" th:text="${#temporals.format(branchDetail.updatedAt, 'dd-MM-yyyy HH:mm')}" class="display_detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Back Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column ">
    <a href="/branch">
        <button class="btn btn-dark" type="button" tabindex="3">
            <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
        </button>
    </a>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>