<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addpr</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--View list Button-->
        <div class="col">
            <a href="/pr" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp; View List
            </a>
        </div>
        <!--Form Name-->
        <div class="col">
            <h2 class="text-white text-center">
                <strong>
                    <span th:text="${addStatus==true?'Add New PR':'Update PR Details'}"></span>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i>&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--Form Content - start -->
<div class="container-fluid bg-info">
    <!--Supplier Search - Start-->
    <div class="offset-1 flex-column" th:if="${searchAreaShow==true}">
        <form id="form" class="form-inline" th:action="${'/purchaseOrder/find'}"
              th:object="${purchaseOrder}" method="POST">
            <div class="form-row">
                <label for="searchCriteria" class="mr-5 ml-5">Search By</label>
                <select class="form-control mr-5 ml-5" id="searchCriteria">
                    <option value="" disabled>Please Select</option>
                    <option value="name">Name</option>
                    <option value="code">Code</option>
                    <option value="contactOne">Mobile Number</option>
                </select>
                <label for="searchValue" class="mr-5 ml-5">Search Value</label>
                <input type="text" class="form-control mr-5 ml-5" name="contactOne" id="searchValue">
                <!--Search Button-->
                <button class="btn btn-success mr-5 ml-5" type="submit" tabindex="9" id="searchButton">
                    <i class="fa fa-search " style="font-size: 20px"></i>&nbsp;&nbsp; Search
                </button>
            </div>
        </form>
    </div>
    <!--Supplier Search - end-->
    <!--Supplier List Show - start-->
    <div class="col-12 flex-column" th:if="${supplierDetailShow==true}">
        <div th:replace="~{supplier/supplier :: supplierFragment}"></div>
    </div>
    <!--Supplier List Show - end-->
    <!--Supplier Purchase Order add- start-->
    <div class="col-12 flex-column" th:if="${supplierDetailShow==false}">
        <section th:replace="~{supplier/supplier-detail :: supplierDetailsFragment}"></section>
        <!--Supplier Item add Form - start-->
        <form th:action="${'/purchaseOrder'}" method="POST" class="mb-5" th:object="${purchaseOrder}">
            <div class="col-md-4">
                <label class="control-label">Enter Item's Quantity</label>
            </div>
            <div class="form-group" th:each="item, index : ${supplierDetail.items}">
                <input type="hidden" th:name="${'purchaseOrderItems[__${index.index}__].item'}" th:value="${item.id}">
                <div class="col-8">
                    <div class="form-row">
                        <div class="col-5"><label class="control-label" for="quantity"
                                                  th:text="${item.name}"></label></div>
                        <div class="col-4"><input id="quantity" type="text"
                                                  th:name="${'purchaseOrderItems[__${index.index}__].quantity'}"
                                                  class="form-control"></div>
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="form-group col-md-12 col-sm-12 mt-4 text-center flex-column ">
                <!--Back Button-->
                <a class="btn btn-dark" tabindex="11" href="/purchaseOrder/all">
                    <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                </a>
                <!--Save Button-->
                <button class="btn btn-success ml-5" type="submit" tabindex="9">
                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;Save
                </button>
                <!--Cancel Button-->
                <button class="btn btn-warning ml-5" type="reset" tabindex="10">
                    <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                </button>
            </div>
        </form>
        <!--Supplier Purchase Order add Form - end-->
    </div>
</div>
<!--Supplier Item add - end-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>
<script>
    $(document).ready(function () {
        // disableAndEnable("searchValue",true);
        // disableAndEnable("searchButton",true);
    });
    //todo ->
    //if there is value on {search by} search value input should be enable
    //there are values on seach by and search value search button should be enable

</script>
</body>
</html>