<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>item-detail</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--View List Button-->
        <div class="col">
            <a href="/item" class="btn btn-primary" tabindex="2">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp; View List
            </a>
        </div>
        <!--Item Name-->
        <div class="col">
            <p class="h2 text-white font-weight-bold"
               data-th-text="${purchaseOrderDetail.supplier.name +' - '+purchaseOrderDetail.code }"></p>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="1">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
    </div>
</div>
<!--details-->
<div data-th-fragment="purchaseOrderDetailsFragment" class="container-fluid bg-info formBorder">
    <div class="col-sm-12 flex-column ">
        <div class="row">
            <a aria-controls="hrefCollapse" aria-expanded="false" class="btn btn-primary col-12" data-toggle="collapse"
               href="#supplierDetail">Supplier Detail's</a>
            <div class="form-group col-md-12 col-sm-12 text-center flex-column collapse" id="supplierDetail">
                <div class="row ">
                    <!--Left Side-->
                    <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                        <!--code-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="id">Code :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="id" data-th-text="${purchaseOrderDetail.code}" class="display_detail"></p>
                            </div>
                        </div>
                        <!--Supplier Name-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="departmentIdNumber">Supplier Name :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="departmentIdNumber" data-th-text="${purchaseOrderDetail.supplier.name}"
                                   class="display_detail"></p></div>
                        </div>
                        <!--Purchase Order Priority-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="mainCategory">Purchase Order Priority :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="mainCategory"
                                   data-th-text="${purchaseOrderDetail.purchaseOrderPriority.PurchaseOrderPriority}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Purchase Order Status-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="subCategory">Purchase Order Status :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="subCategory"
                                   data-th-text="${purchaseOrderDetail.purchaseOrderStatus.purchaseOrderStatus}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Name-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="name">Price :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="name" data-th-text="${purchaseOrderDetail.price}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Remark-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="rop">Remarks :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="rop" data-th-utext="${purchaseOrderDetail.remark}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                    </div>
                    <!--Right Side-->
                    <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                        <!--Created By-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdBy">Created By :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="createdBy" data-th-text="${purchaseOrderDetail.createdBy}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Created at-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdAt">Created At :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="createdAt"
                                   data-th-text="${#temporals.format(purchaseOrderDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Updated by-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="updatedBy">Updated By :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="updatedBy" data-th-text="${purchaseOrderDetail.updatedBy}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                        <!--Updated at-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="updatedAt">Updated At :</label>
                            </div>
                            <div class="col-md-8">
                                <p id="updatedAt"
                                   data-th-text="${#temporals.format(purchaseOrderDetail.updatedAt, 'dd-MM-yyyy HH:mm')}"
                                   class="display_detail"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--purchase order items -->
            <div class="form-group col-md-12 col-sm-12 text-center flex-column">
                <div class="form-row">
                    <label class="control-label text-capitalize font-weight-bold">Selected Items :</label>
                </div>
                <div class="container-fluid table-responsive">
                    <table class="table table-striped " id="myTable">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Item Name</th>
                            <th>ROP</th>
                            <th>Buying Price (Rs.)</th>
                            <th>Request Quantity</th>
                            <th>Line Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="purchaseOrderItem, index : ${purchaseOrderDetail.purchaseOrderItems}">
                            <td data-th-text="${index.count}"></td>
                            <td data-th-text="${purchaseOrderItem.item.name}"></td>
                            <td data-th-text="${purchaseOrderItem.item.rop}"></td>
                            <td data-th-text="${purchaseOrderItem.buyingPrice}"></td>
                            <td data-th-text="${purchaseOrderItem.quantity}"></td>
                            <td data-th-text="${purchaseOrderItem.lineTotal}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Back Button-->
            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <a href="/item">
                    <button class="btn btn-dark" type="button" tabindex="3">
                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>