<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>category-detail</title>
</head>
<body class="sb-nav-fixed">
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--heading Area-->
            <div class="container-fluid ">
                <div class="row formManagement border-info mb-4 mt-4">
                    <!--ViewList Button-->
                    <div class="col">
                        <a href="/category" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View List
                        </a>
                    </div>
                    <!--Form Name-->
                    <div class="col">
                        <h5 class="text text-right">
                            <span>Category Details</span>
                        </h5>
                    </div>
                </div>
            </div>
            <!--details-->
            <div   data-th-fragment="categoryDetailsFragment" class="container-fluid formBorder">
                <div class="col-sm-12 flex-column ">
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                            <!--id-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="id">ID :</label>
                                </div>
                                <div class="col-md-4">
                                    <p id="id"  data-th-text="${categoryDetail.id}" class="display_detail"></p>
                                </div>
                            </div>
                            <!--Main Category-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="mainCategory">Main Category :</label>
                                </div>
                                <div class="col-md-4">
                                    <p id="mainCategory"  data-th-text="${categoryDetail.mainCategory.mainCategory}"
                                       class="display_detail"></p>
                                </div>
                            </div>
                            <!--Name-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="name">Name :</label>
                                </div>
                                <div class="col-md-4">
                                    <p id="name"  data-th-text="${categoryDetail.name}"
                                       class="display_detail"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Back Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <a href="/category">
                        <button class="btn btn-outline-dark" type="button" tabindex="10">
                            <i class="fas fa-arrow-circle-left" style="font-size: 15px"></i>&nbsp; &nbsp;Back
                        </button>
                    </a>
                </div>
                <br/>
            </div>
        </main>
        <div   data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div  data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>
</body>
</html>
