<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <meta charset="UTF-8" >
  <title >Crystal Telecom </title >
</head >
<body class="sb-nav-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div id="layoutSidenav" >
  <div data-th-replace="~{fragments/sideNav :: sideNavFragment}" >
  </div >
  <div id="layoutSidenav_content" >
    <main >
      <div class="container-fluid" >
        <!--Heading Area-->
        <div class="row formManagement border-info mb-4 mt-4" >
          <div class="col" >
            <a class="btn btn-sm btn-success mr-4" href="/invoice/add" >
              <span class="glyphicon glyphicon-list-alt" ></span>&nbsp; New Invoice</a >
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                    data-target="#invoiceCustomSerch" >Custom Invoice Search
            </button >
          </div >
          <div class="col" >
            <h4 class="text text-right" >
              <span >Invoice Management</span >
            </h4 >
          </div >
          <!-- Modal -->
          <div class="modal fade" id="invoiceCustomSerch" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document" >
              <div class="modal-content" >
                <div class="modal-header" >
                  <h6 class="modal-title" id="exampleModalCenterTitle" >Select date range</h6 >
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true" >&times;</span >
                  </button >
                </div >
                <div class="modal-body form-horizontal" >
                  <form class="mx-4" data-th-action="@{/invoice/search}" data-th-method="POST" id="invoiceDateRange" >
                    <div class="form-group" >
                      <label for="startDate" class="" >From</label >
                      <input class="form-control" id="startDate" name="startDate" type="date" />
                    </div >
                    <div class="form-group" >
                      <label for="endDate" >To</label >
                      <input class="form-control" id="endDate" name="endDate" type="date" />
                    </div >
                  </form >
                </div >
                <div class="modal-footer" >
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button >
                  <button class="btn btn-success" form="invoiceDateRange" key="submit" htmlType="submit" >Search
                  </button >
                </div >
              </div >
            </div >
          </div ><!--Model End-->

          <!--=================================Custom Invoice search=========================================
          <button type="button" class="btn btn-info mb-5 btn-block text-capitalize" data-toggle="collapse"
                  data-target="#dataTargetCollapse"
                  aria-expanded="false" aria-controls="dataTargetCollapse"
          > Custom Invoice Search
          </button >
          <div class="collapse mx-auto" id="dataTargetCollapse" >
            <div class="container-fluid text-center" >
              <div class="row" >
                <div class="col-sm-6 col-sm-offset-3" >
                  <h4 class="text-info" ><b > Custom Search</b ></h4 >
                  <form class="form-inline" data-th-action="@{/invoice/search}" data-th-method="POST" >
                    <div class="form-group" >
                      <label for="startDate" >FROM :</label >
                      <input class="form-control" id="startDate" name="startDate" type="date" />
                    </div >
                    <div class="form-group" >
                      <label for="endDate" >TO :</label >
                      <input class="form-control" id="endDate" name="endDate" type="date" />
                    </div >
                    <button class="btn btn-success" id="btnSummaryFind" type="submit" ><span
                          class="glyphicon glyphicon-search" ></span >&nbsp;Search
                    </button >
                  </form >
                </div >
              </div >
            </div >
          </div >===========================================================================================-->
        </div >


        <!--There is message about invoice count-->
        <div class="alert alert-warning alert-dismissible fade show" role="alert" >
          <p data-th-if="${messageView==false}" ><strong >Notice!</strong > Below table shows the invoices for last
                                                                            three month only.
                                                                            To find older records, please use the custom
                                                                            search options.</p >
          <p data-th-if="${messageView==true}" data-th-text="${message}"></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true" >&times;</span >
          </button >
        </div >
        <!--List all invoice-->
        <div class="card mb-4" >
          <!--Table Title-->
          <div class="card-header" >
            <i class="fas fa-table mr-1" ></i >
            Invoice List
          </div >
          <!--Table view-->
          <div class="card-body" >
            <div class="table-responsive-md" >
              <table class="table table-bordered" id="myTable" >
                <thead >
                <tr >
                  <th >Index</th >
                  <th >Number</th >
                  <th > Amount</th >
                  <th > Created By</th >
                  <th > Date of Invoice</th >
                  <th >View</th >
                  <th data-th-if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" > Delete Invoice
                  </th >
                </tr >
                </thead >
                <tbody >
                <tr data-th-each="invoice, rowCount : ${invoices}" >
                  <td data-th-text="${rowCount.count}" ></td >
                  <td data-th-text="${invoice.code}" ></td >
                  <td data-th-text="${invoice.totalAmount}" ></td >
                  <td data-th-text="${invoice.createdBy}" ></td >
                  <td data-th-text="${{invoice.createdAt}}" ></td >
                  <td ><a class="btn btn-sm btn-success" data-th-href="${'/invoice/'+ invoice.id}" ><i
                        class="fa fa-folder-open" ></i >&nbsp;View</a >&nbsp;
                  </td >
                  <td data-th-if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" ><a
                        class="btn btn-sm btn-danger" data-th-href="${'/invoice/remove/' + invoice.id}" >Delete</a >
                  </td >
                </tr >
                </tbody >
              </table >
            </div >
          </div >
        </div >
      </div >
    </main >
    <!--/* footer is */-->
    <div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
    <!--/* script is included */-->
    <div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

    <script >

        $("#startDate, #endDate").bind('keyup',
            function () {
                let manufactureDate = $(`#startDate`).val();
                let expiredDate = $(`#endDate`).val();

                if (manufactureDate !== "" && expiredDate !== "") {
                    if (Date.parse(manufactureDate) > Date.parse(expiredDate)) {
                        swal({
                            title: "Could you accept those days.. !",
                            icon: "warning",
                            text: "Please check your date \n Expire Date can not be less than Manufacture Date",
                        })
                        $(`#endDate`).val($(`#startDate`).val());
                    }
                }
            });


    </script >
  </div >
</div >
</body >
</html >
