<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="sb-nav-fixed">
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <!--Tiles-->
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Home Tabs</li>
                </ol>
                <div class="row">
                    <!--Employee-->
                    <div data-sec-authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_HR_MANAGER' , 'ROLE_ADMIN')" class="col-xl-4 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-header font-weight-bold">
                                <i class="fas fa-user-tie mr-2" style="font-size: 16px" aria-hidden="true"></i>Employee
                            </div>
                            <div class="card-body">
                                <a href="/employee">
                                    <div class="body">
                                        <div class="text-white">Manage Employees</div>
                                    </div>
                                </a>
                                <a href="/branch">
                                    <div class="body">
                                        <div class="text-white">Manage Branches</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Item-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-header font-weight-bold">
                                <i class="fa fa-shopping-cart mr-2" style="font-size: 16px" aria-hidden="true"></i>Item
                            </div>
                            <div class="card-body">
                                <a class href="/item">
                                    <div class="body">
                                        <div class="text-white">Manage Items</div>
                                    </div>
                                </a>
                                <a class href="/category">
                                    <div class="body">
                                        <div class="text-white">Manage Categories</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Supplier-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-header font-weight-bold">
                                <i class="fas fa-truck mr-2" style="font-size: 16px" aria-hidden="true"></i></i>Supplier
                            </div>
                            <div class="card-body">
                                <a href="/supplier">
                                    <div class="body">
                                        <div class="text-white">Manage Suppliers</div>
                                    </div>
                                </a>
                                <a href="/supplierItem">
                                    <div class="body">
                                        <div class="text-white">Manage Supplier Items</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Customer-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-header font-weight-bold">
                                <i class="far fa-handshake mr-2" style="font-size: 16px" aria-hidden="true"></i>Customer
                            </div>
                            <div class="card-body">
                                <a href="/customer">
                                    <div class="body">
                                        <div class="text-white">Manage Customers</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Invoice-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-info text-white mb-4">
                            <div class="card-header font-weight-bold">
                                <i class="fas fa-file-invoice-dollar mr-2" style="font-size: 16px" aria-hidden="true"></i></i>Invoice
                            </div>
                            <div class="card-body">
                                <a href="/invoice/add">
                                    <div class="body">
                                        <div class="text-white">New Invoice</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Purchase-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-header font-weight-bold">
                               <i class="fas fa-truck-loading mr-2" style="font-size: 16px" aria-hidden="true"></i>Purchase
                            </div>
                            <div class="card-body">
                                <a href="/workingPlace">
                                    <div class="body">
                                        <div class="text-white">Manage Supplier Orders</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*********************************Test Table*****************************************-->
                <!--Table view-->
                <dev class="card">
                    <div class="card-body" >
                    <div class="table-responsive-md" >
                        <table class="table table-bordered" id="myTable" >
                            <thead >
                            <tr >
                                <th >Index</th >
                                <th >Number</th >
                                <th > Amount</th >
                                <th > Created By</th >
                                <th > Date of Invoice</th >
                                <th >View</th >
                                <th data-th-if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" > Delete Invoice
                                </th >
                            </tr >
                            </thead >
                            <tbody >
                            <tr data-th-each="invoice, rowCount : ${invoices}" >
                                <td data-th-text="${rowCount.count}" ></td >
                                <td data-th-text="${invoice.code}" ></td >
                                <td data-th-text="${invoice.totalAmount}" ></td >
                                <td data-th-text="${invoice.createdBy}" ></td >
                                <td data-th-text="${{invoice.createdAt}}" ></td >
                                <td ><a class="btn btn-sm btn-success" data-th-href="${'/invoice/'+ invoice.id}" ><i
                                        class="fa fa-folder-open" ></i >&nbsp;View</a >&nbsp;
                                </td >
                                <td data-th-if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" ><a
                                        class="btn btn-sm btn-danger" data-th-href="${'/invoice/remove/' + invoice.id}" >Delete</a >
                                </td >
                            </tr >
                            </tbody >
                        </table >
                    </div >
                </div >
                </dev>

            </div>
        </main>
        <!--footer include-->
        <div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div  data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>

</div>
</body>
</html>

