<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addCustomer</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--Heading Area-->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--ViewList Button-->
        <div class="col">
            <a href="/customer" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Form Name-->
        <div class="col">
            <h2 class="text-light text-center">
                <strong>
                    <span th:text="${addStatus==true?'Add New Customer':'Update Customer Details'}"></span>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>
<!--Form Content-->
<div class="container-fluid ">
    <div class="col-sm-12 flex-column ">
        <form id="form" class="form-horizontal" th:action="${addStatus==true?'/customer/save':'/customer/update'}"
              th:object="${customer}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <!--Left Side-->
                <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                    <!--Id-->
                    <div id="idStatus" th:if="${addStatus==false}" class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="id" th:field="*{id}" class="form-control" type="text" readonly/>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="code">Customer Code :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="code" th:field="*{code}" class="form-control" type="text" readonly/>
                        </div>
                    </div>
                    <!--Tittle -->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="title">Title :</label>
                        </div>
                        <div class="col-md-8">
                            <select id="title" th:field="*{title}" class="form-control" tabindex="3" required>
                                <option value="">Please select</option>
                                <option th:each="titles : ${title}"
                                        th:text="${titles.title}"
                                        th:value="${titles}"
                                        th:selected="${titles==customer.title?'selected':'unselected'}"></option>
                            </select>
                        </div>
                    </div>
                    <!--Name-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="name">Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="name" th:field="*{name}" class="form-control" tabindex="4" type="text" required/>
                            <span id="nameError" th:errors="*{name}"
                                  th:if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                        </div>
                    </div>
                    <!--Nic-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="nic">NIC No :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="nic" th:field="*{nic}" class="form-control" tabindex="5" type="text" minlength="10" maxlength="12"/>
                            <span class="error" id="nicError" th:errors="*{nic}"
                                  th:if="${#fields.hasErrors('nic')}">Error
                                                               NIC Number</span>
                        </div>
                    </div>
                </div>
                <!--Right Side-->
                <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                    <!--Mobile Number-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="mobile">Mobile :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="mobile" th:field="*{mobile}" class="form-control mobile" tabindex="6" type="text" minlength="9" maxlength="10" required/>
                            <span class="error" th:errors="*{mobile}"
                                  th:if="${#fields.hasErrors('mobile')}" id="mobileError">Error Mobile Number</span>
                        </div>
                    </div>
                    <!--Email-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="email">Email :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="email" th:field="*{email}" class="form-control" tabindex="6" type="email"/>
                            <span class="error" th:errors="*{email}"
                                  th:if="${#fields.hasErrors('email')}" id="emailError">Error Mobile Number</span>
                        </div>
                    </div>
                    <!--Address-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="address">Address :</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="address" th:field="*{address}" class="form-control" tabindex="7" rows="3" style="font-size: medium"></textarea>
                            <span class="error" th:errors="*{address}"
                                  th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>
                        </div>
                    </div>
                    <!--Created by and created at-->
                    <div id="updateStatus" th:if="${addStatus==false}">
                        <!--Created By-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdBy">Created By :</label>
                            </div>
                            <div class="col-md-8">
                                <input id="createdBy" th:field="*{createdBy}" class="form-control" type="text" readonly/>
                            </div>
                        </div>
                        <!--Created At-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="createdAt">Created At :</label>
                            </div>
                            <div class="col-md-8">
                                <input id="createdAt" th:field="*{createdAt}" class="form-control" type="text" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <!--Back Button-->
                    <a class="btn btn-dark"  tabindex="10" href="/customer">
                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                    </a>
                    <!--Save Button-->
                    <button class="btn btn-success ml-5" type="submit" tabindex="8">
                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span id="submit" th:text="${addStatus==true?'Save': 'Update'}"></span>
                    </button>
                    <!--Cancel Button-->
                    <button class="btn btn-warning ml-5" type="reset" tabindex="9">
                        <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                    </button>
                </div>
                <!--Error-->
                <div class="form-row">
                    <label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                    <ul>
                        <li id="error" th:each="err: ${#fields.errors('*')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>