<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>

</head>
<body id="loginback">
<div class="form-area">
    <div class="img-area">
        <img th:src="@{img/user.png}" alt="">
    </div>

    <br/>
    <br/>

    <h2 class="font-weight-bold font-weight-light">ARO Computers Pvt(Ltd)</h2>

    <p> User Name :</p>
    <input type="text" name="username" id="txtUsername" placeholder="Enter User Name">

    <p>Password :</p>
    <input type="password" id="txtPassword" name="password" placeholder="Enter Password">

    <div style="margin-top:10px">
        <button id="btnLogin" class="col-md-12 btn btn-primary"><i class= "fa fa-key" style="margin-right: 10px;font-size: 18px"></i>Login</button>
    </div>

    <div>
        <a href="#" class="for-pass">Forgot Password ?</a>
    </div>

</div>

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>



