<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div id="layoutSidenav">
  <div th:replace="~{fragments/sideNav :: sideNavFragment}">
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <!--Heading Area-->
        <div class="row formManagement border-info mb-4 mt-4">
          <!--ViewList Button-->
          <div class="col">
            <a href="/payment" class="btn btn-outline-primary btn-sm" tabindex="1">
              <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View List
            </a>
            <button data-toggle="modal" href="#myModal" class="btn btn-sm btn-primary btn-lg" data-th-text="${'Remain payments to ' + purchaseOrderNeedToPay.supplier.name}">Remain Payments for this supplier</button>
          </div>
          <!--Form Name-->
          <div class="col">
            <h5 class="text text-right">
              <span>Make Payment</span>
            </h5>
          </div>
        </div>
        <!-- Large modal for remain payments for the supplier-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-light">
                <h6 class="modal-title">Remain payments</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <table class="table table-sm table-striped table-condensed">
                  <thead >
                  <tr >
                    <th > Index</th >
                    <th >Purchase Order Number</th >
                    <th >Purchase Amount</th >
                    <th >Paid Amount</th >
                    <th >Need to be Paid</th >
                    <th >Requested Date</th >
                    <th >GRN Date</th >
                  </tr >
                  </thead >
                  <tbody >
                  <tr data-th-each="purchaseOrder, rowCount : ${purchaseOrders}" >
                    <td data-th-text="${rowCount.count}" ></td >
                    <td data-th-text="${purchaseOrder.code}" ></td >
                    <td data-th-text="${purchaseOrder.price}" ></td >
                    <td data-th-text="${purchaseOrder.paidAmount}" ></td >
                    <td data-th-text="${purchaseOrder.needToPaid}" ></td >
                    <td data-th-text="${{purchaseOrder.createdAt}}" ></td >
                    <td data-th-text="${{purchaseOrder.grnAt}}" ></td >
                  </tr >
                  </tbody >
                </table >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--payment history according to particular purchase order -->
        <div class="form-row" data-th-if="${not #lists.isEmpty(purchaseOrderNeedToPay.payments)}" >
          <div class="table-responsive" >
            <table class="table table-striped table-condensed" >
              <thead >
              <tr >
                <th >Index</th >
                <th >Payment Code</th >
                <th >Payment Amount</th >
                <th >Bank Name</th >
                <th >Payment Method</th >
                <th >Paid Amount</th >
                <th >Paid Date</th >
              </tr >
              </thead >
              <tbody >
              <tr data-th-each="payment ,rowCount : ${purchaseOrderNeedToPay.payments}" >
                <th data-th-text="${rowCount.count}" ></th >
                <th data-th-text="${payment.code}" ></th >
                <th data-th-text="${payment.amount}" ></th >
                <th data-th-text="${payment.bankName}" ></th >
                <th data-th-text="${payment.paymentMethod.paymentMethod}" ></th >
                <th data-th-text="${payment.amount}" ></th >
                <th data-th-text="${{payment.createdAt}}" ></th >
              </tr >
              </tbody >
            </table >
          </div >
        </div >
        <!--Payment-->

          <div class="card mb-4">
            <!--Table Title -- NEED TO TAKE THE PURCHASEORDER CODE TO HERE-->
            <div class="card-header" data-th-text="${purchaseOrderNeedToPay.supplier.name}">
              <i class="fas fa-table mr-1 " ></i>
              Employee Registration Form
            </div>
            <!--Table view-->
            <form action="/payment" method="post" data-th-object="${payment}" class="m-4">
              <!--purchase order-->
              <input type="hidden" data-th-value="${purchaseOrderNeedToPay.id}" data-th-name="${'purchaseOrder.id'}" >
              <!--Payment Method-->
              <div class="form-group" >
                <div class="form-row " >
                  <div class="col-md-4 text-right" >
                    <label data-th-for="${paymentMethod}" >Payment Method:</label >
                  </div >
                  <div class="col-md-8" >
                    <div class="custom-control custom-checkbox custom-control-inline "
                         data-th-each="paymentMethod,index : ${paymentMethods}" >
                      <input class="custom-control-input" required
                             data-th-name="${'paymentMethod'}"
                             data-th-value="${paymentMethod}"
                             data-th-id="${index.index}+${paymentMethod}" type="radio"
                             data-th-checked="${genders==gender}" />
                      <label class="custom-control-label"
                             data-th-for="${index.index}+${paymentMethod}"
                             data-th-text="${paymentMethod.paymentMethod}" > radio
                      </label >
                    </div >
                  </div >
                </div >
              </div >
              <!--Bank Name-->
              <div class="form-group" >
                <div class="form-row text-right" id="bankNameBlock" >
                  <div class="col-md-4" >
                    <label class="control-label" for="bankName" >Bank Name :</label >
                  </div >
                  <div class="col-md-8" >
                    <input id="bankName" data-th-field="*{bankName}" class="form-control" tabindex="5"
                           type="text" />
                  </div >
                </div >
              </div >
              <!--This purchase order value-->
              <div class="form-group" >
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" for="allAmount" >Purchase Order's Amount :</label >
                  </div >
                  <div class="col-md-8" >
                    <input class="form-control" data-th-value="${purchaseOrderNeedToPay.price}" id="allAmount"
                           required
                           tabindex="8"
                           type="number" step="0.01" readonly />
                  </div >
                </div >
              </div >
              <!--This purchase order value-->
              <div class="form-group" >
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" for="poAmount" >Need To Paid :</label >
                  </div >
                  <div class="col-md-8" >
                    <input class="form-control" data-th-value="${purchaseOrderNeedToPay.needToPaid}" id="poAmount"
                           required
                           tabindex="8"
                           type="number" step="0.01" readonly />
                  </div >
                </div >
              </div >
              <!--Amount-->
              <div class="form-group" >
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" for="amount" >Amount :</label >
                  </div >
                  <div class="col-md-8" >
                    <input class="form-control" data-th-field="*{amount}" id="amount" required tabindex="8"
                           type="number" min="0" step="0.01" placeholder="0.00" />
                    <span class="text-warning"
                          data-th-errors="*{amount}" data-th-if="${#fields.hasErrors('amount')}" >Error ROP</span >
                  </div >
                </div >
              </div >
              <!--Balance-->
              <div class="form-group" >
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" for="balance" >Balance :</label >
                  </div >
                  <div class="col-md-8" >
                    <input class="form-control" id="balance"
                           type="number" min="0" step="0.01" placeholder="0.00" readonly required />

                  </div >
                </div >
              </div >
              <!--remarks-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label for="remark" >Remarks</label ></div >
                <div class="col-md-8" >
                  <textarea id="remark" class="form-control" data-th-field="*{remarks}" rows="2" ></textarea >
                </div >
              </div >
              <!--Button-->
              <div class="form-group col-md-12 col-sm-12 text-center mt-5 flex-column " >
                <!--Back Button-->
                <a class="btn btn-dark" href="/payment" tabindex="14" >
                  <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
                </a >
                <!--Save Button-->
                <button class="btn btn-success ml-5" tabindex="12" type="submit" >
                  <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span
                        data-th-text="${'Save'}"
                        id="submit" ></span >
                </button >
                <!--Cancel Button-->
                <button class="btn btn-warning ml-5" tabindex="13" type="reset" >
                  <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
                </button >
              </div >
            </form >
          </div >


      </div>
    </main>
    <!--footer include-->
    <div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
    <!--script include-->
    <div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
    <script >
      $(document).ready(function () {
          showHideContent();
      });

      $("input[name='paymentMethod']").bind('change', function () {
          showHideContent();
      });

      function showHideContent() {
          let paymentMethodValue = $("input[name='paymentMethod']:checked").val();
          if (paymentMethodValue === 'CASH') {
              $("#bankNameBlock").hide();
              $("#cashPaymentBlock").show();
          } else {
              $("#cashPaymentBlock").hide();
              $("#bankNameBlock").show();
          }
      }

      //enter amount check
      $("#amount").bind('keyup', function () {
          let amountString = $(this).val();
          balanceCalculate(amountString);
      });

      function balanceCalculate(amountString) {
          let poValue = parseInt($("#allAmount").val());
          let poAmountString = $("#poAmount").val();
          let poAmount = parseInt(poAmountString);
          let amount = parseInt(amountString);

          $("#balance").val(parseFloat(balance(poValue, amount)).toFixed(2));

          if ((poAmount !== amount && poAmountString.length === amountString.length) && (amount > poAmount &&
              poAmountString.length === amountString.length) || balance(poValue, amount) < 0) {
              swal({
                  title: "Could you accept this amount as a payment.. !",
                  icon: "warning",
                  text: "Please check what your are entered. \n",
              });
              $("#balance").val(parseFloat(0).toFixed(2));
              $("#amount").val(parseFloat(poAmount).toFixed(2));
          }

      }

      function balance(poValue, amount) {
          return poValue - amount;
      }
  </script >
  </div>
</div>
</body >
</html >
