<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="sb-nav-fixed">
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div  data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-4">Payment Management</h2>
                <div class="row formManagement border-info mb-4 mt-4">
                </div>
                <div class="card mb-4">
                    <!--Table Title-->
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Remain Payments
                    </div>
                    <!--Table view-->
                    <div class="card-body">
                        <div class="table-responsive"  data-th-if="${not #lists.isEmpty(purchaseOrders)}">
                           <table class="table table-bordered" >
                                    <thead>
                                    <tr>
                                        <th> Index</th>
                                        <th> Supplier Name</th>
                                        <th>Purchase Order Number</th>
                                        <th>Need to be Paid</th>
                                        <th data-th-if="${addState}"> Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="purchaseOrder, rowCount : ${purchaseOrders}">
                                        <td data-th-text="${rowCount.count}"></td>
                                        <td data-th-text="${purchaseOrder.supplier.name}"></td>
                                        <td data-th-text="${purchaseOrder.code}"></td>
                                        <td data-th-text="${purchaseOrder.price}"></td>
                                        <td data-th-if="${addState}">
                                            <a id="edit" data-th-href="${'/payment/' + purchaseOrder.id}"
                                               class="btn btn-primary btn-sm mr-2 p-2">Pay
                                            </a>
                                          </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>
</body>
</html>
