<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="sb-nav-fixed">
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div id="layoutSidenav">
    <div data-th-replace="~{fragments/sideNav :: sideNavFragment}">
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--Heading Area-->
            <div class="container-fluid">
                <div class="row formManagement border-info mb-4 mt-4">
                    <!--ViewList Button-->
                    <div class="col">
                        <a href="/role" class="btn btn-outline-primary btn-sm" tabindex="1">
                            <i class="fa fa-list" style="font-size: 12px"></i>&nbsp;&nbsp;View List
                        </a>
                    </div>
                    <!--Form Name-->
                    <div class="col">
                        <h5 class="text text-right">
                            <span th:text="${addStatus==true?'New Role ':'Update Role'}"></span>
                        </h5>
                    </div>
                </div>
            </div>


                    <div class="container-fluid formBorder">
                        <form id="form" class="mb-4" method="POST"  data-th-action="${addStatus==true?'/role/add':'/role/update'}"
                               data-th-object="${role}">
                            <div class="row">
                                <div id="idHide"  data-th-if="${addStatus==false}" class="form-group col-sm-4">
                                    <div class="form-group col-sm-4">
                                        <label class="control-label" for="id">ID :</label>
                                        <input class="form-control"  data-th-field="*{id}"  id="id" type="text" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="control-label" for="roleName">Role name :</label>
                                    <input id="roleName"  data-th-field="*{roleName}" class="form-control" type="text" required/>
                                    <span id="roleNameError"   data-th-errors="*{roleName}"  data-th-if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <i class="fa fa-save" style="font-size: 15px"></i>&nbsp; &nbsp;<span
                                        id="submit"  data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                                </button>
                            </div>
                            <!--Error-->
                            <div class="form-row">
                                <label id="errorLabel"  data-th-if="${#fields.hasErrors('*')}"   data-th-text="'Errors: '">Errors: </label>
                                <ul>
                                    <li id="errorDisplay"   data-th-each="err: ${#fields.errors('*')}" th:utext="${err}" class="error"></li>
                                </ul>
                            </div>
                        </form>
                    </div>


        </main>
        <div   data-th-replace="~{fragments/footer :: footerFragment}"></div>
        <!--script include-->
        <div  data-th-replace="~{fragments/script :: scriptFragment}"></div>
    </div>
</div>
</body>
</html>
