<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head  data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body class="sb-nav-fixed">
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div id="layoutSidenav">
  <div data-th-replace="~{fragments/sideNav :: sideNavFragment}">
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Role Management</h1>
        <div class="row formManagement border-info mb-4 mt-4">
          <!-- New Item Button-->
          <div class="col">
            <a class="btn btn-outline-success btn-sm" href="/role/add" tabindex="1"><i class="fa fa-user-plus" style="font-size: 12px"></i>&nbsp;&nbsp;New</a>&nbsp;
          </div>
        </div>
        <!--Roles List-->
        <div class="card mb-4">
          <!--Table Title-->
          <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Role List
          </div>
          <!--Table view-->
          <div class="card-body">
            <div class="table-responsive" id="roleListPresent"  data-th-if="${not #lists.isEmpty(roles)}" >
              <table class="table table-striped table-condensed table-sm">
                <thead >
                <tr >
                  <th > Index</th >
                  <th > Name</th >
                  <th  data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" > Modify</th >
                </tr >
                </thead >
                <tbody >
                <tr   data-th-each="role, rowCount : ${roles}" >
                  <td  data-th-text="${rowCount.count}" ></td >
                  <td  data-th-text="${role.roleName}" ></td >
                  <td  data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
                    <a id="edit"  data-th-href="${'/role/edit/' + role.id}" class="btn btn-primary btn-sm mr-2 p-2" >Edit
                    </a >
                    &nbsp;
                    <a id="remove"  data-th-href="${'/role/remove/' + role.id}" class="btn btn-danger btn-sm mr-2 p-2"
                       onclick="if(!(confirm('Are you sure you want to delete this role?'))) return false"
                    >Delete</a >
                  </td >
                </tr >
                </tbody >
              </table >
            </div >
          </div >
        </div >
      </div>
    </main>
    <div  data-th-replace="~{fragments/footer :: footerFragment}" ></div >
    <!--script include-->
    <div  data-th-replace="~{fragments/script :: scriptFragment}" ></div >
  </div>
</div>
</body >
</html >
